.git
.gitignore
.env
.env.example
**/node_modules
**/__pycache__
**/.venv
**/*.pyc
**/.gradle
**/build
**/dist
**/.pytest_cache
**/.oxlint_cache
web/src
ai-worker/tests
ai-worker/.venv
backend/src/test
# backend/gradle/wrapper/gradle-wrapper.jar
*.md
LICENSE
